<div class="curated-link-preview js-curated-link-preview">
  <h2 class="heading-small">How your link will look</h2>
  <%= render partial: 'foi/suggestions/suggestion', locals: { suggestion: curated_link } %>
</div>
