<% content_for :page_title, 'Add a new Curated Link' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">
      Add a new Curated Link
    </h1>
  </div>
</div>

<%= render 'form' %>
