/* Stripped-down stylesheet for use in non-Rails pages like 404/500 pages */

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

a:link {
    color: #0aa44c;
}

a:visited {
    color: #077436;
}

a:hover {
    color: #0bb253;
}

a:active {
    color: #0bb253;
}

a:focus {
    outline: 3px solid #ffbf47;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 160%;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Droid Sans", Arial, sans-serif;
    background: #06644b; /* infinite footer effect */
}

.content {
    background: #fff;
    padding-bottom: 30px;
    overflow: auto; /* prevent child margin-top extending outside this element */
}

@media (min-width: 641px) {
    .content {
        padding-bottom: 90px;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 641px) {
    .container {
        padding: 0 30px;
    }
}

.header {
    background: #06644b;
    padding: 8px 0;
}

.header-logo {
    display: block;
    width: 160px;
    height: 0;
    padding-top: 32px;
    overflow: hidden;
    background: transparent url("/hackney-logo.png") 0 0 no-repeat;
    background-image: url("/hackney-logo.svg"), none;
    background-size: 160px 32px;
    margin-top: 2px;
}

.heading-xlarge {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    margin-top: 0.75em;
    margin-bottom: 0.625em;
}

@media (min-width: 641px) {
    .heading-xlarge {
        font-size: 48px;
        line-height: 1.05;
        margin-top: 1.25em;
        max-width: 12em;
    }
}

p {
    margin-top: 0.25em;
    margin-bottom: 1.1em;
}

.text {
    max-width: 30em;
}

.footer {
    position: relative;
    background: #06644b;
    color: #a9cd75;
    padding: 20px 0;
    border-top: 3px solid #7ab92c;
    font-size: 14px;
    line-height: 1.5;
}

@media (min-width: 641px) {
    .footer {
        padding: 60px 0;
        font-size: 16px;
    }
}

.footer:before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    top: -8px;
    left: 0;
    right: 0;
    border-bottom: 3px solid #0aa44c;
    border-top: 2px solid #a9cd75;
}

.footer-copyright {
    margin-top: 30px;
    line-height: 1.2;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 15px 0 0;
}

@media (min-width: 641px) {
    .footer-links {
        width: 60%;
    }

    .footer .container {
        position: relative;
    }

    .footer-copyright {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        right: 30px; /* match padding-right on .container */
        width: 35%;
        text-align: right;
    }
}

.footer a {
    color: #a9cd75;
}

.footer a:hover {
    color: #fff;
}