<% content_for :page_title, 'New performance percentage' %>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">
      New performance percentage
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-half">
    <%= render 'form' %>
  </div>
</div>
