<%= link_to suggestion.url, class: 'foi-suggestion js-suggestion-link text', target: '_blank' do %>
  <h3 class="heading-medium js-suggestion-title"><%= suggestion.title %></h3>
  <p class="summary js-suggestion-summary"><%= suggestion.summary %></p>
  <p><span class="link-fake">Open in a new window</span></p>
<% end %>
