<% content_for :page_title, 'Your request has been sent' %>
<% content_for :body_classes, 'foi foi-complete' %>

<div class="govuk-box-highlight">
  <h1 class="heading-xlarge">
    Your request has been&nbsp;sent
  </h1>
  <p class="font-large">
    Your reference number is <br>
    <strong class="bold">HA-00001-001</strong>
  </p>
  <p class="font-medium">
    We have emailed a copy to
    <strong class="bold js-session-store" id="foi-requestor-email">you</strong>
  </p>
</div>

<h2 class="heading-medium">What happens next?</h2>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="text">
      The team member handling your response will be in touch if they have any questions.
    </p>

    <p class="text">
      We aim to respond to all requests within 20 working days, and we’re currently hitting this target for 65% of requests.
    </p>

    <p class="text">
      Please bear in mind that we may not have the information you’ve asked for in exactly the format you’ve requested, but we’ll do our best to answer your question.
    </p>

  </div>
  <div class="column-one-third">
    <div class="data">
      <span class="data-item bold-xxlarge">65%</span>
      <span class="data-item bold-xsmall">FOI requests currently being answered within 20 working days</span>
    </div>
  </div>
</div>
