@import "variables";

// From govuk_frontend_toolkit _css3.scss
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// From govuk_elements _helpers.scss
// Return ems from a pixel value
@function em($px, $base: 19) {
    @return ($px / $base) + em;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin loading-spinner($diameter: 4em, $thickness: 0.5em, $color: #000, $background: #fff) {
    box-sizing: border-box;
    display: block;
    width: $diameter;
    height: $diameter;
    position: relative;
    border-radius: $diameter;
    border: $thickness solid $color;
    -webkit-animation: 1s infinite linear spin;
    animation: 1s infinite linear spin;

    &:before {
        content: "";
        display: block;
        width: ($diameter / 2);
        height: ($diameter / 2);
        position: absolute;
        top: ($thickness * -1);
        left: ($thickness * -1);
        background-color: $background;
    }
}

// From govuk_frontend_toolkit _grid_layout.scss
%site-width-container {
    max-width: $site-width;
    margin: 0 $gutter-half;

    @media (min-width: $tablet-breakpoint) {
        margin: 0 $gutter;
    }

    @media (min-width: ($site-width + $gutter * 2)) {
        margin: 0 auto;
    }
}

// From govuk_frontend_toolkit _conditionals.scss
$is-ie: false !default;
$mobile-ie6: true !default;

// From govuk_frontend_toolkit _conditionals.scss
$tablet-breakpoint: 641px !default;
$desktop-breakpoint: 769px !default;

// From govuk_frontend_toolkit _conditionals.scss
@mixin media($size: false, $max-width: false, $min-width: false, $ignore-for-ie: false) {
  @if $is-ie and ($ignore-for-ie == false) {
    @if $size != mobile {
      @if ($ie-version == 6 and $mobile-ie6 == false) or $ie-version > 6 {
        @content;
      }
    }
  } @else {
    @if $size == desktop {
      @media (min-width: $desktop-breakpoint){
        @content;
      }
    } @else if $size == tablet {
      @media (min-width: $tablet-breakpoint){
        @content;
      }
    } @else if $size == mobile {
      @media (max-width: $tablet-breakpoint - 1px){
        @content;
      }
    } @else if $max-width != false {
      @media (max-width: $max-width){
        @content;
      }
    } @else if $min-width != false {
      @media (min-width: $min-width){
        @content;
      }
    } @else {
      @media (min-width: $size){
        @content
      }
    }
  }
}

// From govuk_frontend_toolkit _conditionals.scss
@mixin ie-lte($version) {
  @if $is-ie {
    @if $ie-version <= $version {
      @content;
    }
  }
}

// From govuk_frontend_toolkit _conditionals.scss
@mixin ie($version) {
  @if $is-ie {
    @if $ie-version == $version {
      @content;
    }
  }
}
