@import "variables";
@import "mixins";

// Ideally we'd use the GOVUK button() mixin here, but
// replicating it in this file is overkill when all we
// want is to change a few of the button() colour rules.
.button-secondary {
    color: $text-colour;
    background-color: $grey-3;
    @include box-shadow(0 2px 0 darken($grey-3, 15%));
    border-bottom-color: darken($grey-3, 15%); // IE8 only

    &:visited {
        background-color: $grey-3;
    }

    &:hover,
    &:focus {
        background-color: darken($grey-3, 5%);
    }

    &:active {
        @include box-shadow(0 0 0 $grey-3);
    }

    &:link,
    &:link:focus,
    &:hover,
    &:focus,
    &:visited {
        color: $text-colour;
    }
}

.table-row-delete-form input[type="submit"] {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    color: $red;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: lighten($red, 10%);
    }

    &:focus {
        background-color: $focus-colour;
    }
}
