@import "variables";

.cta-section {
    margin: 2em 0;

    // Direct children might be buttons, or forms.
    & > * + * {
        margin-top: 1em;

        @media (min-width: $tablet-breakpoint){
            margin-top: 0;
            margin-left: 0.5em;
        }
    }

    // Sometimes we have to wrap buttons in forms. But we want the form
    // to be effectively invisible. Setting it to inline-block will make
    // it behave like the buttons around it.
    form {
        display: inline-block;
    }
}
