@import "variables";
@import "mixins";

// Takes a lot of inspiration form .error-summary
// in govuk_elements/forms/_form-validation.scss

.flash {
    margin: $gutter-half 0;
    padding: $gutter-half;

    @media (min-width: $tablet-breakpoint) {
        margin: $gutter 0;
        padding: $gutter-two-thirds;
    }

    &:focus {
        outline: 3px solid $focus-colour;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.flash-notice {
    color: #fff;
    background-color: $light-blue;
}

.flash-alert {
    border: 4px solid $error-colour;

    @media (min-width: $tablet-breakpoint) {
        border-width: 5px;
    }
}
