@import "variables";

.foi-suggestion {
    display: block;
    margin: 1em -0.5em;
    padding: 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $grey-4;

        .link-fake {
            &:after {
                opacity: 0.8; // match the slight lightening of the text on hover
            }
        }
    }

    .heading-medium {
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    .summary {
        color: $text-colour;
        margin-bottom: 0.5em;
    }

    .link-fake {
        &:after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: transparent url("link-external.png") 0 0 no-repeat;
            background-image: url("link-external.svg"), none;
            margin-left: 0.5em;
        }
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0; // avoid weird background-color gap on :focus
    }
}

.curated-link-preview {
    display: none; // will get unhidden once JavaScript loads

    @media (min-width: $tablet-breakpoint) {
        margin-left: 10%;
    }

    & > :first-child {
        margin-top: 0;
    }

    .js-enabled & {
        display: block;
    }
}
