$link-hover-colour: #2b8cc4;
$taggle-gutter: 5px;

.clearfix:before,
.clearfix:after {
    display: block;
    content: "";
    line-height: 0;
    clear: both;
}

.taggle_list {
    float: left;
    width: 100%;
    cursor: inherit;

    // This affects both taggles and the
    // non-taggle parent of taggle_input.
    li {
        float: left;
        display: inline-block;
        white-space: nowrap;
        font-weight: 500;
        margin-bottom: $taggle-gutter;
    }
}

.taggle_input {
    float: left;
    background: none;
    width: 100%;
    max-width: 100%;
    padding: 0.1em 0;
    border: none;
    outline: none;
    font-size: 1em;

    &:focus {
        outline: none;
    }
}

.taggle {
    margin-right: $taggle-gutter;
    background: #E2E1DF;
    padding: 0.1em 0.4em;
    border-radius: 3px;
    cursor: default;

    .close {
        display: inline-block;
        color: inherit;
        font-size: 1em;
        line-height: 1em;
        border: 0;
        background: none;
        cursor: pointer;
        padding: 0.4em;
        margin: -0.4em;
        margin-left: 0; // space between this and taggle_text
        font-weight: bold;
    }
}

.taggle_hot {
    background: $link-hover-colour;

    .taggle_text,
    .close {
        color: #fff;
    }
}

.taggle_placeholder {
    position: absolute;
    color: #CCC;
    top: 0;
    left: 0;
    transition: opacity, .25s;
    user-select: none;
    padding: inherit;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

.keyword-picker-fake-input {
    position: relative;
    min-height: 5em;
    resize: both;
    overflow: auto;
    cursor: text;
    padding-bottom: 0; // don't need it as taggles have their own margin-bottom

    &.active {
        outline: 3px solid #ffbf47;
        outline-offset: 0;
    }
}
