@media print {
    .govuk-box-highlight {
        border: 2px solid;
        padding: 1em 2em;

        .font-large {
            font-size: 1.5em;
        }

        .font-medium {
            font-size: 1.2em;
        }
    }

    .bold-xxlarge,
    .bold-xlarge,
    .bold-large,
    .bold-medium,
    .bold-small,
    .bold-xsmall {
        font-weight: bold;
    }

    .data {
        margin: 2em 0;
        max-width: 16em;
    }

    .data-item {
        display: block;
    }

    .data-item.bold-xxlarge {
        font-size: 2em;
        line-height: 1em;
    }
}
