<% content_for :title, 'How can we reply to you?' %>
<% content_for :body_classes, 'foi foi-contact-details' %>

<h1 class="heading-xlarge">
  How can we reply to you?
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <div class="form-group">
        <label class="form-label" for="foi-requestor-name">
          Full name
          <span class="form-hint">For example, “Alice Brown”</span>
        </label>
        <input type="text" class="form-control form-control-3-4 js-session-store" name="foi-requestor-name" id="foi-requestor-name">
      </div>

      <div class="form-group">
        <label class="form-label" for="foi-requestor-email">Email address</label>
        <input type="email" class="form-control form-control-3-4 js-session-store js-check-email" name="foi-requestor-email" id="foi-requestor-email">
      </div>

      <aside class="form-aside">
        <p class="font-xsmall text">
          We’ll only use these details for the handling of your request.
          <a href="#">Read&nbsp;more in our privacy statement.</a>
        </p>
      </aside>

      <p class="cta-section">
        <a href="check.html" class="button">Check your request</a>
      </p>
    </form>
  </div>
</div>
